@gap: 15px;
.create-note-page__container {
  margin-bottom: 30px;
}
.create-note-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: @gap;
  .input-title {
    width: 400px;
  }
  .btns-wrapper {
    display: flex;
    gap: @gap;
  }
}
:host ::ng-deep .p-fileupload-buttonbar button {
  display: none;
}
