<div class="container create-note-page__container">
  <form
    class="create-note-form"
    [formGroup]="addNoteForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="text"
      id="title"
      class="input-title"
      placeholder="Название"
      pInputText
      formControlName="title"
    />
    <app-editor [blocks]="note.body.blocks"></app-editor>
    <p-fileUpload
      [maxFileSize]="1000000"
      mode="advanced"
      [multiple]="true"
      chooseLabel="Выбрать файлы"
      uploadLabel="Загрузить"
      cancelLabel="Отмена"
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      [files]="images"
      accept="image/*"
      (onSelect)="onFilesSelect($event)"
    ></p-fileUpload>
    <div class="btns-wrapper">
      <p-button label="Готово" type="submit"></p-button>
      <p-button label="Назад" (click)="backToNotes()"></p-button>
    </div>
  </form>
</div>
