.note {
  background: #c8d0f3;
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.text-wrapper, .images-wrapper {
  width: 100%;
  text-align: center;
}
.images-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
:host ::ng-deep .p-image-preview-indicator, :host ::ng-deep .p-image-preview-container, :host ::ng-deep img {
  border-radius: var(--border-radius);
}
:host ::ng-deep .p-image-preview {
  max-width: 90vw;
  max-height: 90vh;
}

.btns-wrapper {
  display: flex;
  gap: 10px;
  justify-content: end;
}

