<div class="container register-page__container">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="title">Регистрация</h2>
    <input type="text" pInputText placeholder="Введите электронную почту" formControlName="email"/>
    <p-password [toggleMask]="true" placeholder="Придумайте пароль" formControlName="password"></p-password>
    <p-password [toggleMask]="true" placeholder="Подтвердите пароль" formControlName="passwordConfirm"></p-password>
    <div class="btns-wrapper">
      <p-button label="Готово" type="submit"></p-button>
      <p-button label="Назад" (click)="backToLogin()"></p-button>
    </div>
  </form>
</div>
