<div class="container notes-page__container">
  <p-button class="btn" label="Добавить запись" (click)="addNote()"></p-button>
  <app-infinite-scroll (scrolled)="getNotes()" class="infinite-scroll">
    <div class="notes-wrapper">
      <app-note *ngFor="let note of notes" [note]="note" (deletedNote)="deleteNote($event)"></app-note>
      <p *ngIf="!isLoading && allNotesCount == 0" class="no-notes-message">У Вас пока нет записей</p>
      <app-loader *ngIf="isLoading;"></app-loader>
    </div>
  </app-infinite-scroll>

  <!-- <div class="notes-wrapper">
    <div *ngIf="isLoading; else note;" class="loading">LOADING</div>
    <ng-template #note>
      <app-note *ngFor="let note of notes" [note]="note"></app-note>
    </ng-template>
  </div> -->
  <!-- todo: add loading loader -->
</div>
